body {
  font-size: medium;
  color: whitesmoke;
  background-image: url("https://images.unsplash.com/photo-1505635725851-c2cfe9e29112?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: contain; 
}
h5 {
  font-style: initial;
  font-family: cursive;
  color: darkturquoise;
}
h1 {
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-shadow: 1px 0px 4px white;
}
p {
  color: white;
  text-shadow: 1px 0px 4px orange;
}
h2 {
  Color: white;
  font-family: fantasy;
}
h3 {
  Color: white;
  font-family: fantasy;
}
.container {
  padding-right: 50%;
}
#blog {
  color: white;
  text-decoration: none;
}
#fav {
  color: white;
  text-decoration: none;
}
#first {
  color: white;
  text-decoration: none;
}
#cookie {
  color: white;
  text-decoration: none;
}
#cupcake {
  color: white;
  text-decoration: none;
}
#band {
  color: white;
  text-decoration: none;
}
#travel {
  color:white;
  text-decoration: none;
}
.kids {
  max-height: 20%;
  Width: 20%;
  float: middle;
}
.dog {
  max-height: 20%;
  width: 20%;
  float: middle;
}