h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
p {
  color: darkorange;
}
}
body{
  font-size: medium;
  color: whitesmoke;
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/forest-trail-brian-chase.jpg");
  background-size: cover;
}