h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

}
.pinwheel {
  float: right;
}
.Big3 {
  float: center;
}
body {
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/forest-trail-brian-chase.jpg");
  font-size: medium;
  color: ivory;
}